.aws
.azure
.bash_history
.bash_logout
.cache/
.config/create-next-app-nodejs/
.config/htop/
.config/nextjs-nodejs/
.docker/
.dotnet/
.gitconfig
.lesshst
.local/
.mongodb/
.motd_shown
.npm/
.nvm/
.profile
.psql_history
.python_history
.ssh/
.sudo_as_admin_successful
.vim/
.viminfo
.vimrc
.vscode-remote-containers/
.vscode-server/
dev/
get-docker.sh
my-paths.conf
wkhtmltox_0.12.5-1.bionic_amd64.deb
wkhtmltox_0.12.6.1-2.jammy_amd64.deb
.config/ookla/
.config/systemd/
.inputrc
.node_repl_history
.quokka/
.zcompdump
.zsh_history
.zshrc
TEST
apps/
eco_service_zip/
nvim-linux64.tar.gz
vbg
